<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Referencias" data-toc-modified-id="Referencias-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Referencias</a></span></li></ul></div>

# Referencias
* https://github.com/d6t/d6tflow
* https://github.com/HaijingLi94/d6t-python/blob/Haijing/blogs/unit-test-your-data-solution.md
* https://docs.pytest.org/en/stable/getting-started.html
* https://towardsdatascience.com/unit-testing-for-data-scientists-dc5e0cd397fb

In [ ]:
#!pip install -U pytest

In [1]:
import pandas as pd
import numpy as np
import pytest

In [2]:
from sklearn.datasets import load_diabetes, load_breast_cancer

In [3]:
diabetes = load_diabetes()
cancer = load_breast_cancer()

In [4]:
X_diabetes = pd.DataFrame(diabetes.data)
y_diabetes = diabetes.target
feature_names_diabetes = diabetes.feature_names
X_diabetes.columns = feature_names_diabetes
X_diabetes.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641

In [5]:
X_cancer = pd.DataFrame(cancer.data)
y_cancer = cancer.target
feature_names_cancer = cancer.feature_names
X_cancer.columns = feature_names_cancer
X_cancer.head()

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst radius,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871,...,25.38,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,0.09744,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,0.05883,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678

In [68]:
df = pd.read_csv('src/train.csv')
df.head()

,surveyid,village,survey_date,femaleres,age,married,children,hhsize,edu,hh_children,...,given_mpesa,amount_given_mpesa,received_mpesa,amount_received_mpesa,net_mpesa,saved_mpesa,amount_saved_mpesa,early_survey,depressed,day_of_week
0,926,91,23-Nov-61,1,28.0,1,4,6,10,0,...,0,0.0,0,0.000000,0.000000,1,0.000000,0,0,5
1,747,57,24-Oct-61,1,23.0,1,3,5,8,0,...,0,0.0,1,4.804611,4.804611,0,0.000000,0,1,3
2,1190,115,05-Oct-61,1,22.0,1,3,5,9,0,...,0,0.0,0,8.007685,8.007685,1,0.000000,0,0,5
3,1065,97,23-Sep-61,1,27.0,1,2,4,10,2,...,0,0.0,0,0.000000,0.000000,1,1.249199,0,0,0
4,806,42,12-Sep-61,0,59.0,0,4,6,10,4,...,0,0.0,0,0.000000,0.000000,0,0.000000,0,0,3

In [ ]:
#result = [do_something_with(item) for item in item_list]

In [7]:
#catch missing values
for column in df:
    try:
        assert df[column].isna().sum()<1
    except:
        print(column)

hh_totalmembers
cons_alcohol
cons_tobacco
cons_med_children
fs_chskipm_often
fs_chwholed_often
fs_meat
fs_enoughtom
fs_sleephun
med_expenses_hh_ep
med_expenses_sp_ep
med_expenses_child_ep
med_portion_sickinjured
med_port_sick_child
med_afford_port
med_sickdays_hhave
med_healthconsult
med_u5_deaths
ed_expenses
ed_expenses_perkid
ed_schoolattend
ed_sch_missedpc
ed_work_act_pc

In [9]:
# check there is no duplicate
#primary key
assert len(df['surveyid'].unique())==df.shape[0]

#composite key
assert df.groupby(['surveyid','survey_date']).size().max()==1

In [10]:
# have data for all ids?
ids = df['surveyid']
assert df['surveyid'].unique().shape[0] == len(ids)

In [48]:
#for example a function make data stationary; 
def some_function_error(df):
    return df.iloc[-1]


def some_function(df):
    df.age = np.log(df.age)
    return df

In [67]:
# for example a function that insert features; 
def some_function_add_columns(df_added):
    df_added['new_column'] = np.log(df_added.age)
    return df_added

In [49]:
# function returns have shapes as expected
# assert all([some_funtion(df).shape == df[0].iloc.shape for df in dfs])

assert all([some_function(df).shape == df.shape])

In [55]:
#check if number of lines is correct
assert all([some_function_add_columns(df).shape[0] == df.shape[0]])

In [69]:
#check if number of columns added is correct
assert all([some_function_add_columns(df).shape[1] == df.shape[1]])

In [71]:
#value ranges
# assert df.groupby('date')['percentage'].sum()==1 
assert all (df['age']>0)
# assert df.groupby('name')['budget'].max()<=1000

In [ ]:
#join quality
assert d6tjoin.Prejoin([df1,df2],['date','id']).is_all_matched()

In [ ]:
#functions
assert preprocess_function("name\t10019\n")==["name",10019]
assert preprocess_missing_name("10019\n") is None
assert preprocess_text("Do you Realize those are genetically modified food?" ) == ["you","realize","gene","modify","food"]

In [ ]:
# content of test_class.py
class TestClass:
    def test_one(self):
        x = "this"
        assert "h" in x

    def test_two(self):
        x = "hello"
        assert hasattr(x, "check")

In [ ]:
a = TestClass()
a.test_one()

In [ ]:
import pandas as pd

def load_data():
    data = pd.DataFrame([[0, 2, 7, 4, 8],
                         [1, 7, 6, 3, 7],
                         [1, 1, "None", 8, 9],
                         [0, 2, 3, "None", 6],
                         [0, 5, 1, 4, 9]], 
                        columns = [f"feature_{i}" if i!=0 
                                  else "class" for i in range(5)])
    return data

def aggregate_mean(df, column):
    return df.groupby("class")[column].mean().to_dict()

def test_aggregate_mean_feature_1():   
    data = load_data()
    expected = {0: 3, 1: 4}
    result = aggregate_mean(data, "feature_1")
    assert expected == result

In [ ]:
## Teste multiplos cenarios

In [ ]:
@pytest.mark.parametrize("column, expected", [("feature_1", {0: 3, 1: 4}), ("feature_3", {0: 4, 1: 5.5})])
def test_aggregate_mean_feature_1(column, expected):   
    data = load_data()
    result = aggregate_mean(data, column)
    assert expected == result

In [ ]:
import pandas as pd
import pytest 

@pytest.fixture(scope='module')
def data():
    df = pd.DataFrame([[0, 2, 7, 4, 8],
                         [1, 7, 6, 3, 7],
                         [1, 1, "None", 8, 9],
                         [0, 2, 3, "None", 6],
                         [0, 5, 1, 4, 9]], 
                        columns = [f'feature_{i}' if i!=0 
                                  else 'class' for i in range(5)])
    return df


def aggregate_mean(df, column):
    return df.groupby("class")[column].mean().to_dict()


@pytest.mark.parametrize("column, expected", [("feature_1", {0: 3, 1: 4}), ("feature_3", {0: 3, 1: 4})])
def test_aggregate_mean_feature_1(data, column, expected):   
    assert expected == aggregate_mean(data, column)

In [ ]:
#MOCK
import pandas as pd

def aggregate_mean(df, column):
    return df.groupby("class")[column].mean().to_dict()

def pipeline(column):
    data = pd.read_csv("SOME_VERY_LARGE_FILE.csv")
    data = aggregate_mean(data, column)
    return data

In [ ]:
import pandas as pd
from unittest.mock import patch
from codebase import pipeline

@patch('codebase.pd.read_csv')
def test_aggregate_mean_feature_1(read_csv):   
    read_csv.return_value = pd.DataFrame([[0, 2, 7, 4, 8],
                                          [1, 7, 6, 3, 7],
                                          [1, 1, "None", 8, 9],
                                          [0, 2, 3, "None", 6],
                                          [0, 5, 1, 4, 9]], 
                                          columns = [f'feature_{i}' if i!=0 
                                                     else 'class' for i in range(5)])
    result = pipeline("feature_1")
    assert result == {0: 3, 1: 4}

In [ ]:
!pip install pytest-cov